 /* START FONTS */
/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v28-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v28-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v28-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v28-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v28-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-900 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/raleway-v28-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v28-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v28-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v28-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v28-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v28-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-900 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
  }

  /* END FONTS */

  /*HEADER STYLES START*/

  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: .4s linear;
  }

/* WRAPPERS START */

  .wrapper {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .wrapper__min {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

/* WRAPPERS END */

  .header__wrapper {
    font-family: 'Raleway';
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    background: white;
    padding: 10px 45px 30px;
  }
  
  .header__logo {
    margin-right: 308px;
  }

  .header__nav {
    margin-right: 69px;
  }

  .header__list {
    display: flex;
    flex-wrap: wrap;
  }

  .header__item {
    margin-right: 50px;
  }

  .header__item:last-child {
    margin-right: 0px;
  }

  .header__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #214E41;
    text-decoration: none;
  }

  .header__link:hover {
    color: #43806C;
  }

  .header__button {
    background-color: #43806C;
    padding: 10px 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border: none;
    border-radius: 6px;
    color: white;
    margin-right: 29px;
    position: relative;
    top: 10px;
  }

  .header__button:hover {
    background-color: #1d6950;
  }

  .header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
  }

  .burger__line-first {
    top: 0;
  }

  .burger__line-second {
    top: 50%;
    transform: translateY(-50%);
  }

  .burger__line-third {
    bottom: 0;
  }

  .burger__line {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: rgb(121, 119, 119);
  }
/* login form start */

  .login-form_open {
    cursor: pointer;
  }

.login-form_open:hover, .login-form_open:focus, .login-form_open:active {
  color: #43806C;
}

/* Кнопка, используемая для открытия контактной формы - фиксируется в нижней части страницы */
.login-form_open {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #214E41;
  padding-right: 20px;
  background: url(../img/svg/arrow-ico.svg) no-repeat center right;
  margin-right: 40px;
}

/* form login start */
.form-popup {
  display: none;
  position: fixed;
  top: 90px;
  right: 130px;
  border: 2px solid #62a08b;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  border-radius: 6px;
  background-color: #43806C;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
}

.form-container .cancel {
  background-color: rgb(179, 54, 54);
}

.form-container .btn:hover, .open-button:hover {
  opacity: 0.8;
}

/* form login end */

.header__language {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #214E41;
}

.header__language:hover {
  cursor: pointer;
  color: #43806C;
}


/* INTRO STYLES START */

.intro {
  height: 100vh;
  margin: 0 auto;
  background: url(../img/main-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 251px;
  padding-bottom: 95px;
}

.intro__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
  max-width: 516px;
  margin-bottom: 40px;
}

.intro__subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #214E41;
  margin-bottom: 16px;
}

.search-form_field {
 height: 60px;
 border-radius: 6px 0 0 6px;
 border: none;
 padding-left: 20px;
}

.search-form_field::placeholder {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}

.search-form_submit {
  height: 62.5px;
  background: #43806C;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: white;
  border: none;
  border-radius: 0 6px 6px 0;
  padding: 20px 35px 19px;
  margin-left: -5px;
}

.search-form_submit:hover, .search-form_submit:focus, .search-form_submit.active {
  background-color: #1d6950;
}

/* INTRO STYLES END */

/* ADVANTAGES STYLES START */

.advantages {
  margin-bottom: 100px;
}

.advantages__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  padding: 50px;
  background-color: white;
  transform: translateY(-50%);
  border-radius: 6px;
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.17);
}

.advantages__card {
  display: flex;
  flex-direction: row;
}

.advantages__card-pic {
  max-width: 58px;
  padding-right: 10px;
  padding-top: 5px;
}

.advantages__card-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #214E41;
  margin-bottom: 7px;
}

.advantages__card-desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #214E41;
}

/* ADVANTAGES STYLES END */

/* HEALTH STYLES START */

.health {
  margin-bottom: 120px;
}

.health__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
}

.health__card {
  padding-right: 90px;
}

.health__card-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806C;
  margin-bottom: 20px;
}

.health__card-desc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
  margin-bottom: 34px;
}

.health__card-benefits {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
  margin-bottom: 26px;
}

.health__card-link {
  position: relative;
  display: block;
  max-width: 100px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02px;
  color: #214E41;
  text-decoration: none;
}

.health__card-link:hover, .health__card-link:focus, 
.member__card-video:hover, .employers__card-more:hover,
.member__card-video:focus, .employers__card-more:focus {
  color: #43806C;
}

.health__card-link::after {
  position: absolute;
  display: block;
  content: '';
  width: 100px;
  height: 3px;
  background-color: #214E41;
  bottom: -15px;
  left: 0;
}

.info {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.info__left {
  margin-top: 58%;
}

.info__left-desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02px;
  color: #214E41;
  padding-right: 50px;
}

.info__left-procent {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #214E41;
}

.info__right {
  padding: 0 20px;
}

.info__right-pic {
  margin-bottom: 20px;
  padding-right: 50%;
}

.info__right-desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #214E41;
  padding-left: 5px;
  padding-right: 38px;
}

.info__right-research {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #757575;
}

/* HEALTH STYLES END */

/* BRINGS STYLES START */

.brings {
  margin-bottom: 120px;
}

.brings__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0;
}

.brings__card-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #214E41;
  margin-bottom: 29px;
}

.brings__card-benefits {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #214E41;
  margin-bottom: 18px;
  padding-right: 30px;
  background: url(../img/svg/arrow-ico-2.svg) no-repeat 80% center;
}


.brings__card-benefits-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #43806C;
  margin-bottom: 18px;
}

.brings__card-benefits-item:last-child {
  margin-bottom: 0;
}

.custom {
  background: #E3EEED;
  padding: 120px;
}

.brings-info {
  background: #214E41;
  padding: 165px 130px 200px 115px;
}

.brings__card-desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02px;
  color: #FFFFFF;
}

.brings__card-desc:first-child {
  padding-bottom: 34px;
}

/* BRINGS STYLES END */


/* PLAN STYLES START */

.plan__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  margin-bottom: 60px;
}

.plan__card-head, .member__card-head, .employers__card-head {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806C;
  margin-bottom: 20px;
}

.plan__card-title, .member__card-title, .employers__card-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
  margin-bottom: 34px;
}

.plan__card-desc, .member__card-desc, .employers__card-desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
  padding-right: 20px;
}

.plan__cards-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
  margin-bottom: 120px;
}

.card__bottom-head {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #F0A446;
}

.card__bottom-desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02px;
  color: #214E41;
}

.member__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.member__card {
  margin: auto;
}

.member__card-pic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.member__card-video, .employers__card-more {
  position: relative;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02px;
  color: #214E41;
  text-decoration: none;
}

.member__card-video::after, .employers__card-more::after {
  position: absolute;
  display: block;
  content: '';
  width: 89px;
  height: 2px;
  background-color: #214E41;
  bottom: -15px;
  left: 0;
}

.member__card-desc, .employers__card-desc {
  margin-bottom: 26px;
}

/*PLAN STYLES END */

/*EMPLOYERS STYLES START */

.employers {
  height: 522px;
  margin: 0 auto;
  background: url(../img/employers-bg.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 120px;
}

.employers__card {
  width: 500px;
  position: absolute;
  transform: translateY(50%);
}

/*EMPLOYERS STYLES END */

/* SLIDER STYLES START */

.slider {
  position: relative;
  margin-bottom: 240px;
}

.slider::after {
  position: absolute;
  display: block;
  margin: 0 auto;
  content: '';
  height: 2px;
  background: rgba(199, 199, 199, 0.37);
  bottom: -120px;
  left: 20px;
  right: 20px;
}

.slider__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #214E41;
  margin-bottom: 110px;
}

.slider__container {
  margin: 0 auto;
  width: 1020px;
  height: 60px;
  overflow: hidden;
}

.slider__line {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 0;
  transition: all ease 1s;
  width: 876px;
  height: 60px;
}

.slider__line-slide {
  margin-right: 58px;
}

.slider__line-slide:first-child {
  margin-left: 29px;
}

.slider__prev, .slider__next {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  width: auto;
}

.slider__prev {
  rotate: 180deg;
}

.slider__next {
  right: 0;
}

/* SLIDER STYLES END */

/* ABOUT STYLES START */

.about {
  margin-bottom: 120px;
}

.about__card {
  width: 355px;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
}

.about__card-pic {
  margin-bottom: 20px;
}

.about__card-head {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806C;
  margin-bottom: 15px;
}

.about__card-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #214E41;
}

/* ABOUT STYLES END */

/* BLOG STYLES START */

.blog {
  background: #E3EEED;
}

.blog__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.blog__container-info {
  padding: 144px 177px 96px 120px;
}

.blog__container-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
  margin-bottom: 46px;
}

.blog__container-title:last-child {
  margin-bottom: 60px;
}

.blog__container-button {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02px;
  padding: 13px 24px;
  background: #43806C;
  border: none;
  border-radius: 6px;
  color: white;
}

.blog__container-button:hover, .blog__container-button:focus {
  background-color: #1d6950;
}

/* BLOG STYLES END */

/* FOOTER STYLES START */

.footer {
  background: #214E41;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  padding: 120px 0;
}

.footer__block-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}

.footer__nav-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.02px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.footer__nav-item {
  margin-bottom: 15px;
}

.footer__nav-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__nav-link:hover, .footer__nav-link:focus {
  opacity: 0.8;
}
.footer__nav-link:last-child {
  margin-bottom: 0;
}

.footer__block-sign {
  width: 360px;
}

.footer__block-sign-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.02px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer__block-sign-desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer__mail-form {
  margin-bottom: 30px;
}

.footer__mail-input {
  width: 276px;
  height: 50px;
  background: #214E41;
  border: 1px solid #FFFFFF;
  padding-left: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer__mail-input::placeholder {
  color: #FFFFFF;
}

.footer__mail-button {
  height: 54px;
  border: none;
  background-color: white;
  padding: 0 20px;
  margin-left: -4px;
}

.footer__mail-button:hover, .footer__mail-button :focus {
  opacity: 0.8;
}

.footer__social-item {
  margin-right: 25px;
}

.footer__social-item:hover, .footer__social-item:focus {
  opacity: 0.8;
}
/* FOOTER STYLES END */

/* MEDIA STYLES START */

@media screen and (max-width: 960px) {

  .header__logo {
    margin-right: 100px;
    margin-bottom: 50px;
  }
  .brings__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .employers__card {
    width: 400px;
    transform: translateY(40%);
  }
  .employers {
    margin-bottom: 50px;
  }
  .about {
    margin-bottom: 80px;
  }
  .about__cards {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }
  .about__card {
    margin: 0 auto;
  }
  .slider {
    display: none;
  }
  .blog__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog__container-info {
    padding: 80px 200px 80px 120px;
  }
  .blog__container-pic {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px){
  .header__wrapper {
    padding-top: 35px;
    justify-content: flex-start;
  }
  .header__burger {
    display: block;
    left: 140px;
  }
  .header__logo {
    margin-bottom: 0;
  }
  .header__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #E3EEED;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
  }
  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .header__link {
    font-size: 32px;
    line-height: 40px;
  }
  .header__nav-active {
    transform: translateX(0);
    transition: .2s all linear;
  }
  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 60%;
    z-index: 11;
  }
  .header__nav-close-line {
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: rgb(121, 119, 119);
      top: 50%;
  }
  .header__nav-close-line:first-child {
      transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
      transform: translateY(-50%) rotate(-45deg);
  }
  .header__language-en {
    margin-right: 30px;
  }
  .advantages {
    margin-bottom: 40px;
  }
  .health__cards {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 60px;
  }
  .health__card:first-child {
    margin-bottom: 60px;
  }
  .brings {
    margin-bottom: 80px;
  }
  .custom {
    padding: 100px;
  }
  .brings-info {
    padding: 100px;
  }
  .plan__cards {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 40px;
    margin-bottom: 60px;
  }
  .plan__cards-bottom {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
  }
  .employers__card {
    width: 350px;
    transform: translateY(15%);
  }
  .blog__container-pic img {
    width: 100%;
  }
  .footer__block {
    display: block;
    padding: 40px 0;
  }
  .footer__block-item {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 414px) {
  .header__wrapper {
    padding: 20px 15px;
  }
  .header__logo {
    margin-right: 150px;
  }
  .login-form_open {
    margin-right: 20px;
  }
  .header__burger {
    left: 30px;
  }
  .intro {
    padding-top: 140px;
  }
  .member__cards {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
    margin-bottom: 50px;
  }
  .member__card {
    text-align: center;
  }
  .employers {
    background: white;
  }
  .employers__card {
    text-align: center;
  }
  .employers__card-desc {
    padding-right: 0;
  }
  .employers__card-more::after {
    width: 100px;
  }
  .health__card {
    text-align: center;
    padding-right: 0;
  }
  .health__card-link {
    margin: 0 auto;
  }
  .info {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }
  .info__left {
    margin-top: 0;
    text-align: center;
  }
  .info__right-pic {
    padding-right: 25%;
    padding-left: 25%;
  }
  .info__right-desc:first-child {
    padding-left: 25%;
  }
  .brings__card {
    padding: 10px;
  }
  .brings__card-benefits {
    background-position: 99% center;
  }
  .advantages {
    margin-bottom: -150px;
  }
  .advantages__cards {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 16px;
    padding: 50px;
  }
  .advantages__card {
    margin-bottom: 30px;
  }
  .advantages__card:last-child {
    margin-bottom: 0;
  }
  .plan__card-pic img {
    width: 100%;
  }
  .blog__container-info {
    padding: 30px 0;
  }
  .footer__block-item {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }
}

@media screen and (max-width: 375px) {
  .header__burger {
    left: 280px;
    top: -25px;
  }
}
/* MEDIA STYLES END */